body .pronamic_pay_mollie_card_token label {
	display: block;
}

.mollie-component {
	margin-top: .5rem;
	padding: 10px;
	font-weight: 500;
	border: 1px solid transparent;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	transition: 0.3s border-color cubic-bezier(0.4, 0, 0.2, 1);
	max-width: 500px;
}

.mollie-component.has-focus {
	border-color: #0077ff;
}

.mollie-component.is-invalid {
	border-color: #ff1717;
}

.field-error {
	margin: 4px 0 1rem 0;
	font-size: .8em;
	font-weight: 400;
	color: #ff1717;
}
