.pronamic_pay_mollie_card_token {
	.mollie-components {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 2fr 1fr 1fr;
		gap: 10px;
		align-items: end;
		max-width: 500px;

		label {
			display: block;

 			&:first-child {
				grid-column: 1/4;
			}

			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(4) {
				grid-row: 3;
			}

			&:nth-of-type(2) {
				grid-column: 1;
				min-width: 250px;
			}

			&:nth-of-type(3) {
				grid-column: 2;
				min-width: 70px;
			}

			&:nth-of-type(4) {
				grid-column: 3;
				min-width: 70px;
			}

			&.is-invalid + .field-error {
				display: block;
			}
		}

		.mollie-component {
			padding: 5px;
			font-weight: 500;
			background: #ffffff;
			border-bottom: 2px solid #aaaaaa;
			transition: 0.3s border-color ease;

			&.has-focus {
				border-bottom-color: #0077ff;
			}

			&.is-invalid {
				border-bottom-color: #ff1717;
			}
		}

		.field-error {
			display: none;
			grid-column: 1/4;
			grid-row: 4;
			font-size: .8em;
			font-weight: 400;
			color: #ff1717;

			&:first-of-type {
				grid-row: 2;
			}

			&:nth-of-type(2) {
				grid-row: 4;
			}

			&:nth-of-type(3) {
				grid-row: 5;
			}

			&:nth-of-type(4) {
				grid-row: 6;
			}
		}
	}
}
