<?xml version="1.0"?>

<ruleset name="WordPress Pay Mollie rules">
	<file>.</file>

	<exclude-pattern>assets/dist/*.asset.php</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="WordPress.DB.DirectDatabaseQuery" />

		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />

		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />

		<exclude name="WordPress.WP.AlternativeFunctions.parse_url_parse_url" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta_get_user_meta" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta_update_user_meta" />

		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.dbDelta_dbdelta" />
		<exclude name="WordPressVIPMinimum.Performance.FetchingRemoteData.FileGetContentsUnknown" />
		<exclude name="WordPressVIPMinimum.Performance.NoPaging.nopaging_nopaging" />
		<exclude name="WordPressVIPMinimum.Variables.RestrictedVariables.user_meta__wpdb__users" />
	</rule>

	<rule ref="WordPress.DB.SlowDBQuery.slow_db_query_meta_key">
		<exclude-pattern>src/Integration.php</exclude-pattern>
	</rule>
</ruleset>
