parameters:
	customRulesetUsed: false
	level: 8
	paths:
		- src/
	scanDirectories:
		- vendor/wp-cli
		- vendor/woocommerce/action-scheduler
	ignoreErrors:
		-
			identifier: missingType.generics
	dynamicConstantNames:
		- WP_CLI
